
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
    /* * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    } */

/* shared styles */
.display-flex{
  display: flex;
}
.dark-1{
  color: rgba(37, 36, 50, 1);
}
.dark-2{
  color: rgba(0, 0, 0, 0.5);
}

.dark-3{
  color: rgba(107, 114, 128, 1);
}




/* Navbar Styles */
.header{
  max-width: 1140px;
  margin: 0 auto;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  list-style: none;
  margin-right: 48px;
}
.nav-link{
  text-decoration: none;
}

/* banner-styles */
.banner{
  margin-top: 120px;
  align-items: flex-end;
}

.banner-title{
  font-size: 4rem;
  font-weight: 700;
}

.banner-text{
  max-width: 570px;
  
}
#fresh{
  color: rgba(233, 90, 8, 1);
}
.banner-description{
  font-size: 1.26rem;
  font-weight: 400;
  margin-top: 13px;
}

/* Main Sction Style Start */
/* Oyr Plants Section */

main{
  max-width: 1140px;
  margin: 0 auto;
}
.plants-text{
  margin-top: 120px;
  justify-content: center;
  text-align: center;
  margin-bottom: 49px;
}

.plants-title{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 16px;
}
#our{
  color: #E95A08;
}
.plants-description{
  font-size: 22px;
  font-weight: 400;
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
/* .card-image{
  width: 100%;
  margin: 0 auto;
} */
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price, .card h3, .card-button{
  
  text-align: center;
}
.price{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}
.card h3{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 30px;
}
.card-button{
  width: 270px;
  /* height: 50px */
  padding:19px 80px ;
  background-color: #E95A08;
  color: white;
  border: none;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* Lover Plants Section */

.lover{
  
  display: flex;
  gap: 60px;
  margin-top: 210px;
}
/* .lover-text{
  width: 540px;
  height: 520px;
} */
.lover-title{
  font-size: 50px;
  font-weight: 700;
}
.li-1{
  margin-bottom: 20px;
}

.lover-description{
  font-size: 22px;
  font-weight: 400;
}

.lover img{
  width: 100%;
}
@media screen and (max-width:576px) {
 
  
  .nav-link{
     display: none;
  }
  .navbar{
    /* flex-wrap: wrap; */
    margin-left: 16px;
  }
  .cart{
    display: inline;
  }
.nav-link,
.cart{max-width: 361px; 
} 
.banner{
  flex-direction: column-reverse;
}
 .banner-text{
  text-align: left;
  margin: 16px ; 
}
.banner-title{
  font-size: 24px;
  font-weight: 700;
}
.banner-description{
  font-size: 14px;
  font-weight: 400;
}
/* .banner-image{
  width: auto;
} */
.product-grid{
  
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;

}
.plants-title{
  font-size: 24px;
  font-weight: 700;
}
.plants-description{
  font-size: 14px;
  font-weight: 400;
}
.card-button{
  /* width: 100px; */
  /* height: 50px */
  padding:5px 5px ;
  background-color: #E95A08;
  color: white;
  border: none;
  /* margin-bottom: 10px; */
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 160px;
  height: 50px;
}
.card img{
  width: 80%;
}
/* lover-section */
.lover{
  flex-direction: column;
  margin-top: 42px;
  margin-bottom: 18px;
}
.lover-title{
  font-size: 24px;
  font-weight: 700;
 
}
.lover img{
  margin-bottom: 18px;
}
/* .lover-text{
  margin-top: 18px;
} */
.lover-description{
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}




}